<html>
  <head>
    <%= render("css.html") %>
  </head>
  <body>
    <center>
    </center>
    Dear <%= @data[:name] %>,
    <br/>
    <br/>
    Thank you for your message. We will review and respond soon insha Allah.
    <br/>
    <br/>
    Best regards,
    <br/>
    Admin - Wasail Al Shia
    <br/>
    <br/>
    <h3>Your message:</h3>
    <%= @data[:comment] %>
  </body>
</html>
