<html>
  <head>
    <%= render("css.html") %>
  </head>
  <body>
    <center>
    </center>
    Dear <%= @data[:sender_name] %>,
    <br/>
    <br/>
    Thank you for your feedback. We received your comments. We will review
    and respond soon insha Allah.
    <br/>
    <br/>
    Best regards,
    <br/>
    Admin - Wasail Al Shia
    <br/>
    <br/>
    <h3>Report:</h3>
    Hadith: <%= @data[:report_no] %>
    <br/>
    Chapter <%= @data[:chapter_no] %>: <%= @data[:chapter_nm] %>
    <br/>
    Section <%= @data[:section_no] %>: <%= @data[:section_nm] %>
    <br/>
    Book: <%= @data[:book_nm_vol] %>
    <br/>
    <h3>Your comment:</h3>
    <%= @data[:comment] %>
  </body>
</html>
